  <nav>
    <div class="nav-wrapper">
      <h1> Let's Eat Burgers! </h1>
    </div>
  </nav>

  <div class="container" width="cover" height="cover">
   <div class="row" >
      <div class="col s4" >
        <div class="burgerSlot">
          <img src="/burger5.png" alt="Girl in a jacket" width="246px" height="203px">

          <h1> We Know Burgers</h1>
          <p> We've got years of burger experience.
          </p>
        </div>
      </div>
      <div   class="col s4" >
        <div class="burgerSlot">
          <img src="/burger6.png" alt="Burger 2" width="246px" height="203px">

          <h1> What's for Lunch?</h1>
            <p>Type in your favorite burger.
          </p>
        </div>
      </div>
      <div  class="col s4" >
          <div class="burgerSlot">
            <img src="/burger7.png" alt="Girl in a jacket"width="246px" height="203px">
              <h1> Let's Eat Burgers! </h1>
                <p>Click "Eat Me" to eat your burger!
              </p>
          </div>
      </div>

    </div>
  </div>

<br>
 <div class="burgerAdd">
      
      <h2>Add a burger</h2>
      <form class="create-form">

        <div class="form-group-input">
          <label for="ca">Add your Own Burger:</label>
          <input type="text" id="ca" class="inputBurger" name="name">
        </div>

        <div class="form-group">
          <label for="eaten"> Have you eaten it or not?</label><br>
          
            <form action="#">
              
              <p>
                <label>
                  <input name="group1" type="radio" value="0" />
                  <span>Haven't Eat it</span>
                </label>
            </p>

              <p>
                <label>
                  <input name="group1" type="radio" value="1" checked />
                  <span>Eaten It </span>
                </label>
              </p>
      <br>
        

        
          </form>
            {{!-- <input type="radio" name="eaten" value="1" checked> It's Eaten!<br>
            <input type="radio" name="eaten" value="0"> It's Not Eaten<br> --}}


            <button class="btn waves-effect waves-light" type="submit" name="action">Add This Burger</button>
              </div>
        </form>

  </div>

<div class="burger-row">

<div class="notEatenBurgers">
    <h2>Burgers that are not eaten!</h2>

    <ul>
      {{#each burgers}}
        {{#unless eaten}}
          {{> burgers/burger-block eaten=true}}
        {{/unless}}
      {{/each}}
    </ul>
</div>

<div class="eatenBurgers">
  <h2>Burgers that have already been eaten!</h2>

  <ul>
    {{#each burgers}}
      {{#if eaten}}
        {{> burgers/burger-block eaten=false}}
      {{/if}}
    {{/each}}
  </ul>
  </div>

</div>

 


  <footer class="page-footer">
          <div class="container2">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Notes about this Project</h5>
                <p class="grey-text text-lighten-4">This Burger App is designed to showcase skills we've learned throughout our bootcamp. </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="https://misterloya.github.io/Issac-Loya-Portfolio/">Portfolio</a></li>
                  <li><a class="black-text text-lighten-3" href="https://www.linkedin.com/in/issacloya/">LinkedIn Page</a></li>
                  <li><a class="black-text text-lighten-3" href="https://github.com/misterloya">Github Repo</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container3">
            © 2020 Issac Loya
            <a class="grey-text text-lighten-4 right" href="https://misterloya.github.io/Issac-Loya-Portfolio/html/aboutme.html">More Links</a>
            </div>
          </div>
        </footer>
