li {
  padding: 5px;
  margin: 5px;
  background: #FFFFFF;
}

.label {
  font-weight: bold;
}
.notEatenBurgers{
  display: inline-block;
  text-align: left;
  border: 2px solid #5a5a5a;
}

.eatenBurgers{
  display: inline-block;
  text-align: left;
  border: 2px solid #5a5a5a;

}
.title {
  display: block;
  text-align: center;
}

.create-form {
  display: block;
  text-align: center;
}

.burger-row{
  display: block;
  text-align: center;
}

h2{
  display: block;
  text-align: center; 
}
 
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 7px;
}
