li {
  padding: 12px;
  margin: 5px;
  /* background: #FFFFFF; */
  display: inline-block;
  /* place-items: center; */
  /* width: fit-content; */
  /* text-align: center; */
  font-family: inherit;
}

.label{
  font-size: 1.8rem;
  color: #9e9e9e;
  margin-top: 0;
}
.img-responsive {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

a {
  font-size: 1.7rem !important;
}

nav {
  display: flow-root;
  justify-content: center;
  padding: 10px;
  background-color: brown !important;
  height: 90px !important;
}
.notEatenBurgers {
  display: inline-block;
  text-align: left;
  border: 10px solid #ffffff;
  width: 400px;
  height: 430px;
  margin-left: 20px;
  background-image: url(/whitecementbackground.jpg);
  border-radius: 32px;
}

.burgerSlot{
  border: 2px solid #5a5a5a;
  height: fit-content;
  margin: -6px;
  padding: 10px

}

.row {
  line-height: 96%;
  margin: 2.8rem 0 1.68rem 0;
  width: 1143PX;
  height: auto;
  font-size: 32px;
  font-family: fangsong;
  color: white;
  margin: 20px;
  text-align: center;
  padding: 20px;
  align-content: center;
 }



 .container {
  background-image: url(/background.jpg);
  max-width: 1280px !important;
  /* width: 85% !important; */
  /* align-content: center !important; */
  display: contents !important;
  /* background-size: cover !important; */
 }

.eatenBurgers {
  display: inline-block;
  text-align: left;
  border: 10px solid #ffffff;
  width: 400px;
  height: 430px;
  margin-left: 20px;
  background-image: url(/whitecementbackground.jpg);
  border-radius: 32px;
}
.title {
  display: block;
  text-align: center;
}

.create-form {
  display: block;
  text-align: center;
  line-height: normal;
}

.burger-row {
  display: flex;
    justify-content: center;
    padding: 50px;
}
h1 {
  font-size: 4.2rem !important;
  line-height: 110% !important;
  margin: -0.2rem 0 1.68rem 0 !important;
  /* background-color: #333; */
}

h2{
  font-size: 1.56rem !important;
  line-height: 110% !important;
  margin: 2.3733333333rem 0 1.424rem 0 !important;
  text-align: center !important;
}
 
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 29px;
  width: 82%;
  display: inline-flex;
}

.inputBurger{
  width: 50%;
}

.form-group-input{
  width: 50%;
  display: inline-flex;
}

body{
  background-image: url(/chalkbackground.jpg);
}

.topLogo{
  display: block;
  align-items: center;
}


.burgerAdd{
  display: inline-block;
  text-align: left;
  border: 10px solid #ffffff;
  width: 400px;
  height: 430px;
  margin-left: 20px;
  background-image: url(/whitecementbackground.jpg);
  border-radius: 32px;
}

.burgerList{
  display: block;
  text-align: center;
}

